<!DOCTYPE html>
<html lang='en-US'>
  <head>
    {{{ csrf_meta_tag }}}
    <title>Inertia</title>

    <link href="/assets/jandi-reset.css?body=1" media="screen" rel="stylesheet" type="text/css" />
    <link href="/assets/jandi-ui.css?body=1" media="screen" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Lobster" media="screen" rel="stylesheet" type="text/css" />
    <link href="/assets/ui/ui.css?body=1" media="screen" rel="stylesheet" type="text/css" />
    <link href="/assets/themes/theme.css?body=1" media="screen" rel="stylesheet" type="text/css" />
    <link href="/assets/content/content.css?body=1" media="screen" rel="stylesheet" type="text/css" />
    <script src="/assets/application.js" type="text/javascript"></script>
  </head>
  <body>
    <div class='header'>
      <div class='layout-width'>
        <div class='left'>
          <a href="/" class='logo'>
            Inertia
          </a>
        </div>
        <div class='right'>
          <div class='userControl topTab'>
            <div class='bg-left'>
              <div class='bg-right'>
                <div class='bg-mid'>
                  Alex V 
                  <a href="javascript: void(0)">Sign Out</a>
                </div>
              </div>
            </div>
          </div>
          <div class='nav'>
            <a>SEO</a>
            <a>Users</a>
          </div>
        </div>
        <div class='clear'></div>
      </div>
    </div>
    <div class='content'>
      <div class='layout-width content-inner'>


      </div>
    </div>
    <div class='footer'></div>
  </body>
</html>
