#.bundle
#db/*.sqlite3
#tags
#newb.rb
#tags
#.specjour/performance
#bundler
#gems
#specifications
#dump.rdb
#panther_line

# MAC OS X
.DS_Store

#Rails
log/*.log
public/uploads/
cache
tmp/

# Sass
#public/stylesheets/*.css
.sass-cache/

# VIM
*.un~
*.un
*.swp
