.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
tags
newb.rb
*.swp
.bundle
db/*.sqlite3
db/schema.rb
log/*.log
tmp/
config/database.yml
config/development.yml
features/tracker.yml
spec/fixtures/geo_data_us.csv
public/stylesheets/*.css
public/uploads/
spec/fixtures/ephemeral_response/
spec/fixtures/ephemeral_response/*
hudson
hudson/*
ERD.pdf
tags
*.DS_Store
.specjour/performance
*.swp
bin/wkhtmltopdf
bin
bundler
gems
specifications
cache
dump.rdb
panther_line
