/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

#tags
#newb.rb
#tags
#.specjour/performance
#bundler
#gems
#specifications
#dump.rdb
#panther_line

# MAC OS X
.DS_Store

#Rails
log/*.log
public/uploads/
cache
tmp/

# Sass
#public/stylesheets/*.css
.sass-cache/

# VIM
*.un~
*.un
*.swp

/app/assets/builds/*
!/app/assets/builds/.keep
