/* GENERICS
h1
  color: #888
a
  color: #444
  &:hover
    color: #666

/* FORMS
input[type='text'], input[type='password'], textarea
  background: #fff
  border: 1px solid #ccc
  resize: none
  padding: 5px

/* PANELS
.panel1
  .panel-heading
    background: url(images/ui/panel-heading-1x35.gif) repeat-x 0 0
    height: 35px
    line-height: 35px
    padding: 0 10px
    color: #fff 
    text-shadow: 0 1px 0 #000
    font-weight: bold
    font-size: 14px
    border: 1px solid #313131
    .heading-items
      float: left
      width: 60%
    .heading-buttons
      float: right
      width: 39%
      text-align: right
  .panel-content
    background: url(images/ui/fade-down-000-3x45.png) repeat-x 0 0
    padding: 10px 0
    border: 1px solid #ccc
    border-top: 0 none  
 
/*
.topTab
  .bg-left, .bg-right, .bg-mid
    background: url(/images/ui/topTab-5x35.png) no-repeat 0 -4px
  .bg-left
    padding-left: 5px
  .bg-right
    padding-right: 5px
    background-position: right -76px
  .bg-mid
    background-position: 0 -40px
    background-repeat: repeat-x
    height: 31px
    line-height: 31px
    padding: 0 5px
    color: #fff
    text-shadow: 0 1px 0 #000
    font-weight: bold

.form-rightLabels
  .f-label
    display: inline-block
    width: 10%
    text-align: right
    margin-right: 10px
    vertical-align: top
  .f-input
    display: inline-block
    width: 88%

form
  h3
    border-bottom: 1px solid #ccc
    display: block
    margin: 15px 5px 10px
  .field
    padding: 5px 0
  .f-label
    font-weight: bold
    font-size: 14px
  &.form-spacey
    .form-field
      padding: 10px 0
    .f-full
      &.f-text input, &.f-select select
        width: 95%
    .f-text input, .f-select select
      width: 300px

.table-data
  border: 1px solid #eee
  table
    width: 100%
    th,td
      padding: 5px
  .buttons-row
    text-align: right
    margin: 10px

.button
  b, i, s
    font-weight: inherit
    font-style: inherit
    text-decoration: none

.button-action
  text-align: center
  font-weight: bold
  color: #eee
  text-shadow: 0 1px 1px rgba(0,0,0,0.3)
  &:hover
    color: #fff
  b, i, s
    display: block
    background: url(/images/ui/button-action-6x38.png) no-repeat 0 0
  b
    padding-left: 6px
  i
    padding-right: 6px
    background-position: right -80px
  s
    background-repeat: repeat-x
    background-position: 0 -40px
    height: 38px
    line-height: 38px
    min-width: 100px
    
/* STYLED FORM "FORM"
/***********************************

form
  input
    &[type='text'], &[type='password']
      border: 0 none
      padding: 2px 5px
      -webkit-border-radius: 4px
      -moz-border-radius: 4px
      border-radius: 4px
      resize: none
      outline: 0 none
      margin-bottom: 3px
      border: solid 1px #cfcfcf
  select, textarea
    border: 0 none
    padding: 5px
    -webkit-border-radius: 4px
    -moz-border-radius: 4px
    border-radius: 4px
    resize: none
    outline: 0 none
    /*
     *width: 260px;
    margin-bottom: 3px
    border: solid 1px #cfcfcf
  input
    &[type='text'], &[type='password']
      height: 28px
  select
    height: 28px
  input
    &[type='text']:focus, &[type='password']:focus
      border-color: #bbb
  select:focus, textarea:focus
    border-color: #bbb
  .field
    margin-bottom: 5px
    clear: both
    &.field-error
      input
        &[type='text'], &[type='password']
          border-color: #ce0000
      select, textarea
        border-color: #ce0000
    &:last-child
      margin-bottom: 0
  .field-text .field-input
    padding-top: 0
    padding-bottom: 0
    border: 1px solid transparent
    &.loading
      background: url(images/loader-ededed-444444.gif) no-repeat right center
  .field-validation
    display: none
  .field-text .field-validation
    clear: both
  .field-checkboxgroup
    label
      display: inline-block
      margin-right: 10px
    &.field-full label
      display: block
      margin: 0
    input
      margin-right: 6px
  .field-checkbox input
    margin-right: 6px
  .field-checkboxgroup.field-checkboxgroup-half label
    width: 49%
    margin-right: 0
  .field.field-checkbox label
    display: block
    margin-bottom: 0
  .field-cardExpiration .field-input
    width: 191px
    margin-right: 2px
  .rule
    width: 510px
  .field-mileage .field-errorCtn
    display: none
    .field-validation
      display: block

/*
 *.form .field-success,
 *.form .field-success .field-input
 *{
 *	border-color: #0c0;	
 *}
 *.form .field-error,
 *.form .field-error .field-input
 *{
 *	border-color: #ce0000;	
 *}